.errors {
  margin: 10px 0;
  padding: 1.4rem;
  background-color: #E57373;
  border: 1px solid #EF5350;
  border-radius: 3px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

}