@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.center-vh-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
