<div class="product-add">
  <mat-card class="product-add__card">
    <form #form="ngForm" (ngSubmit)="onAddProduct(form)" class="product-add__form">
      <h3 class="product-add__heading">Add product</h3>
      <div class="product-add__inputs">
      <mat-form-field class="product-add__field">
        <input matInput name="name" placeholder="Name" type="text" [(ngModel)]="product.name">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="protein" placeholder="Protein / 100g" type="number" [(ngModel)]="product.protein">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="carbs" placeholder="Carbs / 100g" type="number" [(ngModel)]="product.carbs">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="fats" placeholder="Fats / 100g" type="number" [(ngModel)]="product.fats">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="calories" placeholder="Calories / 100g" type="number" [(ngModel)]="product.calories">
      </mat-form-field>
      </div>
      <button mat-raised-button type="submit" color="primary" class="product-add__button">Add product</button>
    </form>
  </mat-card>
</div>
