@import "~sass/mixins";

.product-add {
  
  &__inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__field {
    width: 100%;
    margin-bottom: 1rem;
  }

}