<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="addMealForm">
    <h3 class="meal-add__field-title">Name</h3>
    <mat-form-field class="meal-add__field">
      <input matInput formControlName="name" name="name" placeholder="Name*" type="text">
      <mat-error *ngIf="name.hasError('required')">{{ errorMessages.name }}</mat-error>
      <mat-error *ngIf="name.hasError('nameTaken')">{{ errorMessages.nameTaken }}</mat-error>
    </mat-form-field>
    <h3>Category</h3>
    <mat-form-field class="meal-add__field">
      <mat-select formControlName="category" placeholder="Category*">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
      <mat-error>{{ errorMessages.category }}</mat-error>
    </mat-form-field>
    <h3 class="meal-add__field-title">Meal image</h3>
    <mat-form-field class="meal-add__field">
      <input matInput name="imageUrl" formControlName="imageUrl" placeholder="Image URL" type="text">
    </mat-form-field>
    <h3 class="meal-add__field-title meal-add__field-title--ingredients">Ingredients</h3>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of ingredients; let i = index">
        {{ ingredient.name }} ({{ ingredient.weight }}g)
        <button mat-icon-button (click)="onDeleteIngredient(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <!-- <table class="ingredients">
      <tr *ngIf="ingredients.length > 0" class="ingredients__row">
        <th>Name</th>
        <th>P / C / F / Cal</th>
      </tr>
      <tr class="ingredient__row" *ngFor="let ingredient of ingredients">
        <td>{{ ingredient.name }} ({{ ingredient.weight }}g)</td>
        <td>{{ ingredient.protein }} / {{ ingredient.carbs }} / {{ ingredient.fats }} / {{ingredient.calories }}</td>
      </tr>
      <tr *ngIf="ingredients.length > 0" class="ingredients__row">
        <th>Total</th>
        <th>{{ proteinTotal }} / {{ carbsTotal }} / {{ fatsTotal }} / {{ caloriesTotal }}</th>
      </tr>
    </table> -->
    <div class="ingredients__add-fields">
      <mat-form-field class="meal-add__field meal-add__field--medium">
        <mat-select formControlName="ingredient" placeholder="Ingredient" #ingredient>
          <mat-option [value]="product" *ngFor="let product of products">{{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="meal-add__field meal-add__field--medium">
        <input matInput name="amount" placeholder="Amount" type="number" formControlName="ingredientAmount" #ingredientAmount>
      </mat-form-field>
      <button 
        class="meal-add__ingredients-button" 
        type="button" 
        mat-button color="primary" 
        (click)="onAddIngredient()" 
        [disabled]="(ingredientAmount.value <= 0 || !ingredientAmount.value) || !ingredient.value">
        Add ingredient
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button 
  *ngIf="mode === 'add'"
  class="meal-add__add-button" 
  mat-raised-button 
  color="primary" 
  (click)="onAddMeal()">Add meal</button>
  <button 
  *ngIf="mode === 'edit'"
  class="meal-add__add-button" 
  mat-raised-button 
  color="primary" 
  (click)="onEditMeal()">Save meal</button>
</mat-dialog-actions>
