@import "~sass/mixins";

.date {
  font-size: 2.8rem;
  color: #3C4858;
  display: flex;
  align-content: center;
  justify-content: center;

  &__display {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include breakpoint(tablet) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

}

.mat-icon {
  font-size: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
