.login-container {
  padding: 1rem;
  height: 100vh;
}

.login-card {
  padding: 7rem 2rem;
}

.login-form {
  min-width: 150px;
  width: 80%;
  margin: 0 auto;

  &__heading {
    font-size: 2.5rem;
    color: #673AB7;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__field {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  &__button {
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
  }

}

.errors {
  width: 80%;
  margin: 0 auto;
}

